
* {
  box-sizing: border-box;
}


body{
        margin:15px;
        padding:10px;
        position:relative;
        background-color:white;
    }


  header
  {
      background-color:white;
       padding:22px;
       background-image:url("group.jpg");
       background-image:100%;
   }
       nav>a{
                display:inline-block;
                padding:19px;
                margin:2px;
                text-decoration:none;
                background-color:transparent;
                border-width: 10px 3px;
                color:#000000;
                border-radius:25px;
                width:15%;
                height:5px; 
                text-align:center;
                font-weight:bold;
            }

a:hover{
  
  background-color:white;
   color:blue;
}
h1{
	color:white;
	text-align:center;
}
#yog{

	color:white;
	font-size:20px;

}

div {
  columns: 100px 3;
}


h3{
	margin:0.1px;
	padding:2px;
	font-transform:uppercase;
	font-size:30px;
}











